{% extends "layout.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.RAM.label }}
        {{ form.RAM }}
        {% if form.RAM.errors %}
            {% for error in form.RAM.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.ROM.label }}
        {{ form.ROM }}
        {% if form.ROM.errors %}
            {% for error in form.ROM.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.Display.label }}
        {{ form.Display }}
        {% if form.Display.errors %}
            {% for error in form.Display.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.Primary_Cam.label }}
        {{ form.Primary_Cam }}
        {% if form.Primary_Cam.errors %}
            {% for error in form.Primary_Cam.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.Selfi_Cam.label }}
        {{ form.Selfi_Cam }}
        {% if form.Selfi_Cam.errors %}
            {% for error in form.Selfi_Cam.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.Battery.label }}
        {{ form.Battery }}
        {% if form.Battery.errors %}
            {% for error in form.Battery.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.submit() }}
    </div>
    <br>
    <div>
        {{ output }}
    </div>

</form>
{% endblock content %}
